#Timer_cy {
    width: 50.239px;
    height: 43.34px;
}
#Timer_Progress_cz {
    fill: rgba(221,245,0,1);
}
.Timer_Progress_cz {
    width: 50.239px;
    height: 43.34px;
    transform: matrix(1,0,0,1,0,0);
}
.team-stats__value {
    font-size: 20px !important;
}