<!-- Page Heading
		================================================== -->
		<div class="page-heading">
			<div class="container">
				<div class="row">
					<div class="col-md-10 offset-md-1">
						<h1 class="page-heading__title"><span class="highlight">Reset</span></h1>
						<ol class="page-heading__breadcrumb breadcrumb">
							<li class="breadcrumb-item"><a href="_soccer_index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Reset</li>
						</ol>
					</div>
				</div>
			</div>
		</div>
		<!-- Page Heading / End -->

    <!-- Content
		================================================== -->
		<div class="site-content">
			<div class="container">
		
				<div class="row">
		
					<div class="col-md-12">
		
						<!-- Login -->
						<div class="card">
							<div class="card__header">
								<h4>Reset your Account</h4>
							</div>
							<div class="card__content">
		
								<!-- Login Form -->
								<form #resetForm="ngForm" novalidate (ngSubmit)="onSubmit()">
									<div class="form-group">
										<label for="login-name">{{userEmail}}</label>
                    <br>
										<label for="login-name">{{userName}}</label>
                    <br>
										<label for="login-name">Your Password</label>
										<input placeholder="" required ngModel #newPassword="ngModel" name="newPassword" id="login-name" class="form-control" placeholder="Enter your password...">
									</div>
									
									<div class="form-group form-group--sm">
										<input type="submit"  class="btn btn-primary-inverse btn-lg btn-block" value="Update your password">
									</div>
								
								</form>
								<!-- Login Form / End -->
		
							</div>
						</div>
						<!-- Login / End -->
					</div>
		
				</div>
			</div>
		</div>
		
		<!-- Content / End -->
		<simple-notifications></simple-notifications>