<div class="sectionTwo" style="padding-top: -50%; padding-bottom: 0">
  <div class="section home" style="padding-top: -10%; padding-bottom: 0">
    <div class="container" *ngIf="!isMobile">
      <div class="d-flex justify-content-center">
        <em style="font-size: 3.6vw; padding-right: 5%">Rejoignez</em>
        <img
          alt="gark"
          style="width: calc(15%)"
          src="/assets/imgs/Gark-Label.png"
        />
      </div>
      <!--   <div class="d-flex justify-content-center" >
        
        <em style="font-size:45px;" class="mr-6">Joignez</em>
        <img alt="gark"  style="width: calc(13%);" src="/assets/imgs/Gark-Label.png" />
        </div>
        -->
    </div>
    <div class="container" *ngIf="isMobile">
      <div class="d-flex justify-content-center">
        <em style="font-size: 25px; padding-right: 5%; color: white"
          >Rejoignez</em
        >
        <img
          alt="gark"
          style="width: calc(25%)"
          src="/assets/imgs/Gark-Label.png"
        />
      </div>
    </div>
  </div>
  <!--
<svg class="Rectangle_451_b">
		<linearGradient id="Rectangle_451_b" spreadMethod="pad" x1="0.5" x2="0.5" y1="0" y2="1">
			<stop offset="0" stop-color="#868686" stop-opacity="1"></stop>
			<stop offset="0.4919" stop-color="#000" stop-opacity="1"></stop>
			<stop offset="1" stop-color="#818080" stop-opacity="1"></stop>
		</linearGradient>
		<rect id="Rectangle_451_b" rx="0" ry="0" x="0" y="0" width="1927" height="467">
		</rect>
	</svg>
    -->
  <div class="section home" style="padding-top: 20%; padding-bottom: 9%">
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-1 col-xl-1"></div> -->
        <div class="col-12 d-block d-md-none">
          <a>
            <img
              alt="football"
              style="width: calc(70%); display: block; margin: auto"
              alt="football"
              src="/assets/imgs/site/Mask_Group_1101.png"
            />
          </a>
        </div>
        <div class="col-12 col-xl-7 col-lg-7 col-md-6 d-none d-md-block">
          <a style="position: relative; display: block">
            <img
              alt="football"
              style="width: calc(60%); display: block; margin: auto"
              alt="football"
              src="/assets/imgs/site/Mask_Group_1101.png"
            />
            <!--   <img alt="hero" style="width: calc(50%);margin: auto;left: 2%;top: 50%;position: absolute;margin-top: -25px;margin-left: -25px;" alt="ganger votre temps"  src="/assets/imgs/site/ID12.png" />-->
          </a>
        </div>
        
        <div
          class="col-12 col-xl-5 col-lg-5 col-md-6"
          style="display: flex; flex-direction: column"
        >
          <div style="margin: -5px 0"></div>
          <div class="home-text">
          <br >
          <br>
          <br >
            <p class="mb-2" style="color: white; font-size: 25px">
              <span style="text-transform: uppercase">
                Vous êtes passionné de
              </span>

              <span style="color: rgba(0, 229, 107, 1)"> FOOTBALL</span>
              ?
            </p>
          </div>
          <div class="home-subtext">
            <p class="mb-7" style="text-align: justify" id="parag">
              Ayez la chance de devenir des joueurs professionnels via la
              compétitivité dans les ligues et les compétitions.
            </p>
          </div>
          <div style="margin: auto 0"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="sectionThird">
  <div
    class="section home"
    id="tournois"
    style="padding-top: 10%; padding-bottom: 0"
  >
    <div class="container">
      <div class="row">
        <div class="col-12" *ngIf="isMobile">
          <a>
            <img
              alt="tournois"
              style="width: calc(100%); display: block; margin: auto"
              alt="Tournois"
              src="/assets/imgs/site/ID5100.png"
            />
          </a>
        </div>
        <div class="col-12 col-xl-5 col-lg-5 col-md-6 texting">
          <div style="margin: auto 0"></div>
          <div class="home-text">
            <p class="mb-2" id="textTournois">TOURNOIS</p>
          </div>
          <div class="home-subtext">
            <p class="mb-4" style="text-align: justify" id="parag">
              Nos tournois vous donnent la possibilité de vivre l'expérience de
              pro et de suivre les scores des différents matchs.
            </p>
          </div>
          <div style="margin: auto 0"></div>
        </div>
        <div class="col-12 col-xl-7 col-lg-7 col-md-6 d-none d-md-block">
          <a style="position: relative; display: block">
            <img
              alt="tournois"
              style="width: calc(100%); display: block; margin: auto"
              alt="Tournois"
              src="/assets/imgs/site/ID5100.png"
            />
          </a>
        </div>
      </div>
    </div>
  </div>
  <div
    class="section home"
    id="equipes"
    style="padding-top: 25%; padding-bottom: 0%"
  >
    <div class="container">
      <div class="row">
        <!-- <div class="col-lg-1 col-xl-1"></div> -->
        <div class="col-12 d-block d-md-none">
          <a>
            <img
              alt="equipes"
              style="width: calc(70%); display: block; margin: auto"
              alt="Tournois"
              src="/assets/imgs/site/Path_1700.png"
            />
          </a>
          <br />
          <br />
        </div>
        <div class="col-12 col-xl-7 col-lg-7 col-md-6 d-none d-md-block">
          <a style="position: relative; display: block">
            <img
              alt="equipes"
              style="width: calc(30%); display: block; margin: auto"
              alt="Tournois"
              src="/assets/imgs/site/Path_1700.png"
            />
            <!--   <img alt="hero" style="width: calc(50%);margin: auto;left: 2%;top: 50%;position: absolute;margin-top: -25px;margin-left: -25px;" alt="ganger votre temps"  src="/assets/imgs/site/ID12.png" />-->
          </a>
        </div>

        <div
          class="col-12 col-xl-5 col-lg-5 col-md-6"
          style="display: flex; flex-direction: column"
        >
          <div style="margin: auto 0"></div>
          <div class="home-text">
            <p class="mb-2" id="textTournois2">EQUIPES</p>
          </div>
          <div class="home-subtext">
            <p class="mb-7" id="parag">
              Formez votre équipe, participez aux tournois et soyez les
              premiers dans le classement afin de gagnez des cadeaux et des
              prix.
            </p>
          </div>
          <div style="margin: auto 0"></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div style="height: 100px; background-color: black"></div>
<div [ngClass]="{ sectionForthMobile: isMobile, sectionForth: !isMobile }">
  <div class="section home" id="academie">
    <div class="container" *ngIf="!isMobile">
      <div
        class="d-flex justify-content-center"
        style="padding-bottom: 35%; margin-bottom: 30%"
      ></div>
    </div>

    <div class="container" *ngIf="isMobile && !isSmallMobile">
      <div
        class="d-flex justify-content-center"
        style="padding-bottom: 35%; margin-bottom: 60%; height: 50% !important"
      ></div>
    </div>
    <div class="container" *ngIf="isSmallMobile">
      <div
        class="d-flex justify-content-center"
        style="padding-bottom: 35%; margin-bottom: 90%; height: 50% !important"
      ></div>
    </div>
  </div>
</div>
<div
  [ngClass]="{
    sectionFiveMobile: isMobile,
    sectionFive: !isMobile
  }"
>
  <div class="section home" style="padding-top: 25%; padding-bottom: 5%">
    <div class="container" *ngIf="!isMobile">
      <div class="row" style="margin-top: -70%">
        <div class="col-md-4 col-sm-12 offset-4 d-flex justify-content-center">
          <img alt="classement" src="/assets/imgs/site/kiddo.png" style="height: 230% !important; width: 200% !important;" />
        </div>
        <div class="col-md-3 col-sm-12 mt-6  ">
          <em
          class="paraheader"
          >
            Vous appartenez à une
            <span style="color: rgba(0, 229, 107, 1)"> ACADEMIE</span>
            ?</em
          >
          <p id="parag" style="padding-top:10%;word-spacing: 0.5px;" >
            <span style="color: rgba(0, 229, 107, 1)"> GarkClubs</span> regroupe
            tous vos besoins et offre aux dirigeants & entraîneurs des
            fonctionnalités de gestion administrative et sportive afin de
            planifier les séances d’entrainements et les événements sportifs de
            vos clubs et de suivre l’évolution des statistiques des joueurs.
          </p>
        </div>
      </div>
    </div>

    <div class="container" *ngIf="isMobile">
      <br />
      <br *ngIf="isSmallMobile" />

      <div class="row" style="margin-top: -120%">
        <div class="col-sm-12">
          <em style="color: white; font-size: 15px; margin-bottom: 15px">
            Vous appartenez à une
            <span style="color: rgba(0, 229, 107, 1)"> ACADEMIE</span>
            ?</em
          >
          <p id="parag">
            <span style="color: rgba(0, 229, 107, 1)"> GarkClubs</span> regroupe
            tous vos besoins et offre aux dirigeants & entraîneurs des
            fonctionnalités de gestion administrative et sportive afin de
            planifier les séances d’entrainements et les événements sportifs de
            vos clubs et de suivre l’évolution des statistiques des joueurs.
          </p>
          <img
            alt="classement"
            *ngIf="!isSmallMobile"
            class="d-flex justify-content-center"
            style="width: 100%; height: 50%"
            alt="classement"
            src="/assets/imgs/site/kiddo.png"
          />
          <img
            alt="classement"
            *ngIf="isSmallMobile"
            class="d-flex justify-content-center"
            style="width: 100%; height: 50%"
            alt="classement"
            src="/assets/imgs/site/kiddo.png"
          />
        </div>
      </div>
    </div>
  </div>
</div>
