<footer id="footer" class="text-lg-start " style="background-color: black !important;">
  <section class="-mt-5">
    <div class="container text-md-start" style="border:none;">
      <!-- Grid row -->
      <div class="row">
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4" >
          <!-- Content -->
          <span style="display: flex;" href="/" class="pointer">
            <img   style="margin-top: -10px;height: 50px !important" src="/assets/imgs/site/GARK-LOGO@2x.png" alt="gark logo">
            <img   style="margin-top: 30px;height: 30px !important" src="/assets/imgs/Gark-Label.png" alt="gark label">
        </span>
        <br/>
        <em style="color:#00F164;margin-left: 2%;">Telecharger l'application</em>
        <br/>
        <div class="inline-block">
                            <a ><img alt="gark"  style="width: calc(23%);" src="/assets/imgs/site/apple.png" /> </a>
                            <a ><img alt="gark"  style="width: calc(23%);" src="/assets/imgs/site/google.png" /> </a>
                            <a ><img alt="gark"  style="width: calc(33%);" src="/assets/imgs/site/huawei.png" /> </a>
        </div>
        <br/>
        <em style="color:#00F164;margin-left: 2%;">Suivez nous</em>
        <br/>
        <div class="inline-block" style="padding-left:10%">
          <a ><img alt="gark" class="mr-3"  style="width: calc(3%);" src="/assets/imgs/site/facebook.png" /> </a>
          <a ><img alt="gark"  style="width: calc(5%);" src="/assets/imgs/site/instagram.png" /> </a>
        </div>
        </div>
    
        <!-- Grid column -->
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4 d-flex flex-row p-0">
         
          <p>
            <a (click)="scrollTo('#gark')" class="pl-3" style="color:white !important; font-weight:bold !important;cursor: pointer !important;">Home</a>
          </p>
          <p>
            <a (click)="scrollTo('#tournois')" class="pl-3" style="color:white !important; font-weight:bold !important;cursor: pointer !important">Tournois</a>
          </p>
          <p>
            <a (click)="scrollTo('#equipes')" class="pl-3" style="color:white !important; font-weight:bold !important;cursor: pointer !important">Equipes</a>
          </p>
          <p>
            <a (click)="scrollTo('#academie')" class="pl-3" style="color:white !important; font-weight:bold !important;cursor: pointer !important">Académie</a>
          </p>
          <p>
            <a (click)="scrollTo('#home')" class="pl-3" style="color:white !important; font-weight:bold !important;cursor: pointer !important">Terrains</a>
          </p>
        </div>
        <div class="col-md-4 col-lg-4 col-xl-3 mx-auto mb-4  ">
          <div class="mt-5" id="contact">
          <em style="color:#00F164;margin-left: 2%;">Nous contactez pour plus d'information</em>
          <br/><br/><br/>
          <input type="text" class="form-control border-top-0 border-left-0 border-right-0 " placeholder="Adresse mail" id="inputContact"/>
          <br/><br/>
          <button class="py-1 px-4" id="btnContact">Envoyer</button>
        </div>
        </div>
      </div>
      <!-- Grid row -->
    </div>
  </section>
  <!-- Copyright
  <div class="copyright white fw-700 text-center">
    Tous droits réservés © <strong class="fw-800">GARK</strong> -{{ year }}
  </div>
  <br/><br/> -->
</footer>
